{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section id="project-bid-page">
		<div class="container">
			<div class="bid-project-page">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="bidding-title">
							<h4>Build an eCommerce Website</h4>
						</div>
					</div>
				</div>
				<div class="bidding-header">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="bidding-info">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-7">
									<div class="bid-info">
										<div class="freelancer-bidding">
											<h5>Freelancer Bidding(44)</h5>
											<ul>
												<li>
													<a href="#"><img src="{% static '' %}img/freelancer/freelancer-4.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="{% static '' %}img/freelancer/freelancer-5.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="{% static '' %}img/freelancer/freelancer-6.jpg" alt=""></a>
												</li>
												<li>
													<a href="#">+ 4 others</a>
												</li>
											</ul>
										</div>
										<div class="avg-bidding">
											<h5>Avg Bid (USD)</h5>
											<h4 class="project-amount">$ 1350</h4>
										</div>
										<div class="project-budget">
											<h5>Project Budget(USD)</h5>
											<h4 class="project-amount">$500 - $1500</h4>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-2"></div>
								<div class="col-sm-12 col-md-12 col-lg-3">
									<div class="get-button bidding">
										<a href="#" class="get-btn">Get Started</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-8 col-lg-8">
						<div class="project-description">
							<h4 class="title">Project Description</h4>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p><br>
							<p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form.</p><br>
							<p>Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p><br>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4">
						<div class="employee-info">
							<h4 class="title">About the employer</h4>
							<div class="feature-image">
								<img src="{% static '' %}img/employer/employer1.jpg" alt="">
								<div class="name-designation">
									<h5 class="name">Rafsan Prodhan</h5>
									<h5 class="designation">Software House </h5>
								</div>
								<span class="online"></span>
							</div>
							<div class="review-details">
								<ul class="review">
									<li class="point">5.0</li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li>(<span class="amount">105</span> Reviews)</li>
								</ul>
							</div>
							<div class="contact-details">
								<ul>
									<li><span class="verified">Verified</span></li>
									<li><a href="#"><i class="fas fa-dollar-sign"></i></a></li>
									<li><a href="#"><i class="fas fa-envelope"></i></a></li>
									<li class="address-book"><a href="#"><i class="fas fa-address-book"></i></a></li>
									<li class="phone"><a href="#"><i class="fas fa-phone"></i></a></li>
								</ul>
							</div>
							<div class="project-id">
								<h6 class="title">Project ID: 15535012</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="skill-requirement">
							<h4 class="title">Skill Required</h4>
							<ul>
								<li><a href="#">Graphic Design,</a></li>
								<li><a href="#">HTML,</a></li>
								<li><a href="#">Website Design,</a></li>
								<li><a href="#">WordPress,</a></li>
								<li><a href="#">My SQL,</a></li>
								<li><a href="#">JAVA,</a></li>
								<li><a href="#">CSS 3,</a></li>
								<li><a href="#">Adobe Photoshop</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="proposal">
						<h4 class="title">New Proposal</h4>
						<p>Enter Your Proposal Details</p>
						<textarea name="name" class="form-control" cols="30" rows="10" placeholder="Provide general info about yourself e.g. what you can deliver and when, why you think you can do the job etc."></textarea>
					</div>
					<div class="proposal-breakdown">
						<h4 class="title">Proposal Breakdown</h4>

						<div class="replicate">
							<div class="replicate-inner clearfix">
								<div class="proposal-left">
									<p>Item</p>
									<input type="text" class="form-control description" placeholder="Enter your description">
								</div>
								<div class="proposal-right">
									<p>Amount <a href="#" data-toggle="tooltip" data-placement="right" data-type="primary" title="Amount for this milestone"><i class="icofont icofont-question-circle"></i></a></p>
									<input type="number" class="form-control amount" value="" placeholder="$ 100">
								</div>
							</div>
						</div>

						<div class="proposal-left">
							<p><a class="add-item" href="#">+ Add new item</a></p>
							<div class="items">
								<ul>
									<li>Total</li>
									<li>You’ll earn</li>
									<li>Deposit</li>
								</ul>
							</div>
							<div class="info">
								<p>Please note that the minimum Service Fee per Invoice is $2.50 (excl.VAT). Read more on Fees Page</p>
							</div>
						</div>
						<div class="proposal-right">
							<input type="text" class="form-control total" placeholder="$ 300.00">
							<input type="text" class="form-control earn" placeholder="$ 300.00" value="">
							<input type="text" class="form-control" placeholder="$ 300.00" value="">
							<input type="submit" class="form-control send" value="Send">
						</div>
						<div class="notify-tm">
							<label class="checkbox-btn">Notify me if the job is awarded to someone else
							<input type="checkbox">
							<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}