{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="blog-page-hero" style="background: url(img/blog/blog-hero1.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="blog-hero-area">
					<div class="blog-category-title">
						<h2>Category archive for : <span>Marketing</span></h2>
					</div>
					<div class="blog-post-meta">
						<div class="left-meta">
							<ul>
								<li><span><i class="far fa-dot-circle"></i></span> Trend</li>
								<li><span><i class="far fa-dot-circle"></i></span> by Rafsan Jany</li>
							</ul>
						</div>
						<div class="right-meta">
							<ul>
								<li><span><i class="far fa-dot-circle"></i></span> 23, Dec. 2018</li>
								<li><span><i class="far fa-dot-circle"></i></span> No Comments</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="blog-grid">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="blog-posts">
							<div class="blog-image">
								<img src="{% static '' %}img/blog/blog-4.jpg" alt="">
							</div>
							<div class="blog-details">
								<ul class="post-meta">
									<li>Jan. 05. 2019</li>
									<li><a href="#" class="tags">ios app</a></li>
								</ul>
								<div class="blog-title">
									<a href="#">Pros & Cons of Premined App Instaling</a>
								</div>
								<div class="text">
									<p>How to install the app with in 2 munites. Most easiest way ever. How to install
										the app with in 2 munites.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="blog-posts">
							<div class="blog-image">
								<img src="{% static '' %}img/blog/blog-1.jpg" alt="">
							</div>
							<div class="blog-details">
								<ul class="post-meta">
									<li>Nov. 05. 2019</li>
									<li><a href="#" class="tags">Fashion</a></li>
								</ul>
								<div class="blog-title">
									<a href="#">Style Icons Menswear Muses for Winter</a>
								</div>
								<div class="text">
									<p>We always cue up music when we’re entertaining. But when it’s just us puttering
										around the kitchen</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="blog-posts">
							<div class="blog-image">
								<img src="{% static '' %}img/blog/blog-5.jpg" alt="">
							</div>
							<div class="blog-details">
								<ul class="post-meta">
									<li>Jan. 05. 2019</li>
									<li><a href="#" class="tags">ios app</a></li>
								</ul>
								<div class="blog-title">
									<a href="#">Pros & Cons of Premined App Instaling</a>
								</div>
								<div class="text">
									<p>How to install the app with in 2 munites. Most easiest way ever. How to install
										the app with in 2 munites.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="blog-posts">
							<div class="blog-image">
								<img src="{% static '' %}img/blog/blog-6.jpg" alt="">
							</div>
							<div class="blog-details">
								<ul class="post-meta">
									<li>Nov. 05. 2019</li>
									<li><a href="#" class="tags">Travel</a></li>
								</ul>
								<div class="blog-title">
									<a href="#">Reintroducing Our Favorite Anthropologie Prints</a>
								</div>
								<div class="text">
									<p>We always cue up music when we’re entertaining. But when it’s just us puttering
										around the kitchen</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="blog-posts">
							<div class="blog-image">
								<img src="{% static '' %}img/blog/blog-2.jpg" alt="">
							</div>
							<div class="blog-details">
								<ul class="post-meta">
									<li>Nov. 05. 2019</li>
									<li><a href="#" class="tags">Music</a></li>
								</ul>
								<div class="blog-title">
									<a href="#">Athena Calderone’s Tasting Notes</a>
								</div>
								<div class="text">
									<p>How to install the app with in 2 munites. Most easiest way ever. How to install
										the app with in 2 munites.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="blog-posts">
							<div class="blog-image">
								<img src="{% static '' %}img/blog/blog-7.jpg" alt="">
							</div>
							<div class="blog-details">
								<ul class="post-meta">
									<li>Nov. 05. 2019</li>
									<li><a href="#" class="tags">Travel</a></li>
								</ul>
								<div class="blog-title">
									<a href="#">Reintroducing Our Favorite Anthropologie Prints</a>
								</div>
								<div class="text">
									<p>We always cue up music when we’re entertaining. But when it’s just us puttering
										around the kitchen</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="blog-posts">
							<div class="blog-image">
								<img src="{% static '' %}img/blog/blog-3.jpg" alt="">
							</div>
							<div class="blog-details">
								<ul class="post-meta">
									<li>Nov. 05. 2019</li>
									<li><a href="#" class="tags">Music</a></li>
								</ul>
								<div class="blog-title">
									<a href="#">Have you Heard? Top Tunes of 2014</a>
								</div>
								<div class="text">
									<p>If you’ve ever visited an Anthropologie store, you’re likely familiar with the
										work of Katie</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="blog-posts">
							<div class="blog-image">
								<img src="{% static '' %}img/blog/blog-8.jpg" alt="">
							</div>
							<div class="blog-details">
								<ul class="post-meta">
									<li>Nov. 05. 2019</li>
									<li><a href="#" class="tags">Fashion</a></li>
								</ul>
								<div class="blog-title">
									<a href="#">From our speakers to yours, happy listening!</a>
								</div>
								<div class="text">
									<p>So enamored are we of the master mood-setter’s pitch-perfect playlists Lorem
										ipsum dolor.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="pagination-area">
							<ul>
								<li>
									<a href="#"><i class="fas fa-chevron-left"></i></a>
								</li>
								<li>
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#"><i class="fas fa-chevron-right"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="blog-sidebar">
					<div class="widget search-widget">
						<div class="widget-title">
							<h4>Search</h4>
						</div>
						<div class="search-field">
							<form class="search-form">
								<input type="text" placeholder="Search">
								<button class="search-btn"><i class="fas fa-search"></i></button>
							</form>
						</div>
					</div>
					<div class="widget category-widget">
						<div class="widget-title">
							<h4>Categories</h4>
						</div>
						<ul class="categories">
							<li><a href="#">Bloggers</a></li>
							<li><a href="#">Designer</a></li>
							<li><a href="#">Development</a></li>
							<li><a href="#">News</a></li>
						</ul>
					</div>
					<div class="widget recent-post-widget">
						<div class="widget-title">
							<h4>Recent Post</h4>
						</div>
						<div class="recent-posts">
							<div class="feature-image">
								<a href="#"><img src="{% static '' %}img/blog/recent-1.jpg" alt=""></a>
							</div>
							<div class="post-details">
								<h6 class="post-title">
									<a href="#">How to install the app with in 2 munites</a>
								</h6>
								<div class="post-meta">
									<ul>
										<li class="date">01 April 2019</li>
										<li><i class="far fa-heart"></i> 135</li>
										<li><i class="far fa-comment"></i> 35</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="recent-posts">
							<div class="feature-image">
								<a href="#"><img src="{% static '' %}img/blog/recent-2.jpg" alt=""></a>
							</div>
							<div class="post-details">
								<h6 class="post-title">
									<a href="#">Style your own workspace with this app</a>
								</h6>
								<div class="post-meta">
									<ul>
										<li class="date">01 April 2019</li>
										<li><i class="far fa-heart"></i> 120</li>
										<li><i class="far fa-comment"></i> 21</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="recent-posts">
							<div class="feature-image">
								<a href="#"><img src="{% static '' %}img/blog/recent-3.jpg" alt=""></a>
							</div>
							<div class="post-details">
								<h6 class="post-title">
									<a href="#">Best 10 tips for this app lorem ipsum</a>
								</h6>
								<div class="post-meta">
									<ul>
										<li class="date">03 April 2019</li>
										<li><i class="far fa-heart"></i> 103</li>
										<li><i class="far fa-comment"></i> 07</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="widget comments-widget">
						<div class="widget-title">
							<h4>Recent Comments</h4>
						</div>
						<div class="comment">
							<span class="icon"><i class="far fa-comment"></i></span>
							<p><a href="#" class="name">David Willson</a> <i>on</i> Building a New Successful Hostel
								Campaign</p>
						</div>
						<div class="comment">
							<span class="icon"><i class="far fa-comment"></i></span>
							<p><a href="#" class="name">Charli Brown</a> <i>on</i> Building a New Successful Hostel
								Campaign</p>
						</div>
					</div>
					<div class="widget tag-widget">
						<div class="widget-title">
							<h4>Tags</h4>
						</div>
						<ul class="tags">
							<li><a href="#">providing</a></li>
							<li><a href="#">Spend</a></li>
							<li><a href="#">Value</a></li>
							<li><a href="#">Spend</a></li>
							<li><a href="#">Value</a></li>
							<li><a href="#">Spend</a></li>
							<li><a href="#">providing</a></li>
							<li><a href="#">Spend</a></li>
							<li><a href="#">providing</a></li>
							<li><a href="#">Spend</a></li>
							<li><a href="#">Value</a></li>
							<li><a href="#">Spend</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}