{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section id="blog-page-hero" style="background: url(img/blog/blog-hero1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="blog-hero-area">
						<div class="blog-category-title">
							<h2>Keep providing more and more value, people will spend more time</h2>
						</div>
						<div class="blog-post-meta">
							<div class="left-meta">
								<ul>
									<li><span><i class="far fa-dot-circle"></i></span> Trend</li>
									<li><span><i class="far fa-dot-circle"></i></span> by Rafsan Jany</li>
								</ul>
							</div>
							<div class="right-meta">
								<ul>
									<li><span><i class="far fa-dot-circle"></i></span> 23, Dec. 2018</li>
									<li><span><i class="far fa-dot-circle"></i></span> No Comments</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="blog">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12">
					<div class="blog-post-details">
						<div class="feature-image">
							<img src="{% static '' %}img/blog/blog-13.jpg" alt="">
						</div>
						<div class="blog-description">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Maecenas accumsan lacus vel facilisis volutpat est velit egestas dui. Neque egestas congue quisque egestas diam. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. At in tellus integer feugiat scelerisque varius morbi enim. Dui id ornare arcu odio. Amet facilisis magna etiam tempor orci eu lobortis elementum nibh. Lacus sed turpis tincidunt id aliquet risus. Sit amet dictum sit amet. Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Scelerisque eleifend donec pretium vulputate sapien nec. In cursus turpis massa tincidunt dui ut. Eget felis eget nunc lobortis mattis aliquam faucibus.</p><br>

							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Enim facilisis gravida neque convallis a cras. Sagittis eu volutpat odio facilisis mauris sit amet massa. Et tortor consequat id porta nibh venenatis cras sed felis. Orci dapibus ultrices in iaculis nunc sed augue lacus viverra. Egestas diam in arcu cursus euismod quis viverra. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Sed elementum tempus egestas sed sed risus pretium quam vulputate. Sit amet dictum sit amet justo donec enim diam vulputate.</p><br>

							<p>Suspendisse sed nisi lacus sed viverra tellus in hac. Amet justo donec enim diam vulputate ut pharetra. Malesuada fames ac turpis egestas integer eget aliquet nibh. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Convallis a cras semper auctor neque vitae tempus. Sed viverra tellus in hac habitasse platea dictumst.</p><br>

							<p>Semper quis lectus nulla at. Faucibus pulvinar elementum integer enim neque volutpat. Vitae suscipit tellus mauris a. Eu mi bibendum neque egestas congue quisque egestas diam in. Id cursus metus aliquam eleifend mi in nulla. Scelerisque felis imperdiet proin fermentum leo vel orci porta non. Habitant morbi tristique senectus et. Sociis natoque penatibus et magnis dis parturient. Feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat.</p><br>

							<p>Et odio pellentesque diam volutpat commodo. Aliquet lectus proin nibh nisl condimentum id. Sed ullamcorper morbi tincidunt ornare massa eget egestas. Lorem sed risus ultricies tristique nulla aliquet enim.Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Enim facilisis gravida neque convallis a cras. Sagittis eu volutpat odio facilisis mauris sit amet massa. Et tortor consequat id porta nibh venenatis cras sed felis. Orci dapibus ultrices in iaculis nunc sed augue lacus viverra. Egestas diam in arcu cursus euismod quis viverra. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Sed elementum tempus egestas sed sed risus pretium quam vulputate. Sit amet dictum sit amet justo donec enim diam vulputate.</p><br>
							<p>Suspendisse sed nisi lacus sed viverra tellus in hac. Amet justo donec enim diam vulputate ut pharetra. Malesuada fames ac turpis egestas integer eget aliquet nibh. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Convallis a cras semper in hac habitasse platea dictumst.</p><br><br>
							<div class="blog-meta">
								<div class="blog-tag">
									<ul class="tags">
										<li><a href="#">providing</a></li>
										<li><a href="#">Spend</a></li>
										<li><a href="#">Value</a></li>
									</ul>
								</div>
								<div class="social-share">
									<ul>
										<li>
											Share
										</li>
										<li>
											<a href="#"><i class="fab fa-facebook-f"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-instagram"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-pinterest-p"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="user-comments">
								<h4>No comments yet</h4>
							</div>
							<div class="comment-fields">
								<h4>Leave a comment</h4>
								<form>
									<div class="full">
										<textarea id="text-area" cols="30" rows="10" placeholder="Please comment here"></textarea>
									</div>
									<div class="half">
										<input type="text" id="name" placeholder="Enter your name">
										<input type="email" id="email" placeholder="Enter your Email">
									</div>
									<div class="get-button bidding">
										<a href="#" class="get-btn">Get Started</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="blog-sidebar">
						<div class="widget search-widget">
							<div class="widget-title">
								<h4>Search</h4>
							</div>
							<div class="search-field">
								<form class="search-form">
									<input type="text" placeholder="Search">
									<button class="search-btn"><i class="fas fa-search"></i></button>
								</form>
							</div>
						</div>
						<div class="widget category-widget">
							<div class="widget-title">
								<h4>Categories</h4>
							</div>
							<ul class="categories">
								<li><a href="#">Bloggers</a></li>
								<li><a href="#">Designer</a></li>
								<li><a href="#">Development</a></li>
								<li><a href="#">News</a></li>
							</ul>
						</div>
						<div class="widget recent-post-widget">
							<div class="widget-title">
								<h4>Recent Post</h4>
							</div>
							<div class="recent-posts">
								<div class="feature-image">
									<a href="#"><img src="{% static '' %}img/blog/recent-1.jpg" alt=""></a>
								</div>
								<div class="post-details">
									<h6 class="post-title">
										<a href="#">How to install the app with in 2 munites</a>
									</h6>
									<div class="post-meta">
										<ul>
											<li class="date">01 April 2019</li>
											<li><i class="far fa-heart"></i> 135</li>
											<li><i class="far fa-comment"></i> 35</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="recent-posts">
								<div class="feature-image">
									<a href="#"><img src="{% static '' %}img/blog/recent-2.jpg" alt=""></a>
								</div>
								<div class="post-details">
									<h6 class="post-title">
										<a href="#">Style your own workspace with this app</a>
									</h6>
									<div class="post-meta">
										<ul>
											<li class="date">01 April 2019</li>
											<li><i class="far fa-heart"></i> 120</li>
											<li><i class="far fa-comment"></i> 21</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="recent-posts">
								<div class="feature-image">
									<a href="#"><img src="{% static '' %}img/blog/recent-3.jpg" alt=""></a>
								</div>
								<div class="post-details">
									<h6 class="post-title">
										<a href="#">Best 10 tips for this app lorem ipsum</a>
									</h6>
									<div class="post-meta">
										<ul>
											<li class="date">03 April 2019</li>
											<li><i class="far fa-heart"></i> 103</li>
											<li><i class="far fa-comment"></i> 07</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="widget comments-widget">
							<div class="widget-title">
								<h4>Recent Comments</h4>
							</div>
							<div class="comment">
								<span class="icon"><i class="far fa-comment"></i></span>
								<p><a href="#" class="name">David Willson</a> <i>on</i> Building a New Successful Hostel Campaign</p>
							</div>
							<div class="comment">
								<span class="icon"><i class="far fa-comment"></i></span>
								<p><a href="#" class="name">Charli Brown</a> <i>on</i> Building a New Successful Hostel Campaign</p>
							</div>
						</div>
						<div class="widget tag-widget">
							<div class="widget-title">
								<h4>Tags</h4>
							</div>
							<ul class="tags">
								<li><a href="#">providing</a></li>
								<li><a href="#">Spend</a></li>
								<li><a href="#">Value</a></li>
								<li><a href="#">Spend</a></li>
								<li><a href="#">Value</a></li>
								<li><a href="#">Spend</a></li>
								<li><a href="#">providing</a></li>
								<li><a href="#">Spend</a></li>
								<li><a href="#">providing</a></li>
								<li><a href="#">Spend</a></li>
								<li><a href="#">Value</a></li>
								<li><a href="#">Spend</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}