{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Dashboard Container -->
<div class="dashboard-container">

	{% block sidebar %}
	{% include 'dashboard_sidebar.html' %}
	{% endblock %}


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner">

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Messages</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
						<li>Messages</li>
					</ul>
				</nav>
			</div>

			<div class="messages-container margin-top-0">

				<div class="messages-container-inner">

					<!-- Messages -->
					<div class="messages-inbox">
						<div class="messages-headline">
							<div class="input-with-icon">
								<input id="autocomplete-input" type="text" placeholder="Search">
								<i class="icon-material-outline-search"></i>
							</div>
						</div>

						<ul id="receipent_profile">
							{% for user in known_user_profile %}

							<li id="{{ user.user.id }}">
								<a href="">
									{% if user.image.url %}
									<div class="message-avatar"><img
											src="{{ user.image.url }}" alt="" /></div>
									{% else %}
									<div class="message-avatar"><img
											src="{% static 'images/user-avatar-placeholder.png' %}" alt="" /></div>
									{% endif %}
									<div class="message-by">
										{% if user.last_message %}
										<div class="message-by-headline">
											<h5>{{ user.user.username }}</h5>
											<span>{{ user.last_message.created_at|timesince }} ago</span>
										</div>
										<p>{{ user.last_message.message }}</p>
										{% else %}
										<div class="message-by-headline">
											<h5>{{ user.user.username }}</h5>
											<span>No message yet</span>
										</div>
										{% endif %}
									</div>
								</a>
							</li>
							{% endfor %}
							<!-- <li class="active-message">
								<a href="#">
									<div class="message-avatar"><i class="status-icon status-offline"></i><img
											src="images/user-avatar-small-02.jpg" alt="" /></div>

									<div class="message-by">
										<div class="message-by-headline">
											<h5>Sindy Forest</h5>
											<span>Yesterday</span>
										</div>
										<p>Hi Tom! Hate to break it to you but I'm actually on vacation</p>
									</div>
								</a>
							</li> -->
						</ul>
					</div>
					<!-- Messages / End -->

					<!-- Message Content -->
					<div class="message-content">

						<div class="messages-headline" id="message_name_box">
							
						</div>

						<!-- Message Content Inner -->
						<div class="message-content-inner" id="message_box">

							
						</div>
						<!-- Message Content Inner / End -->

						<!-- Reply Area -->
						<div class="message-reply">
							<textarea id="new_message" cols="1" rows="1" placeholder="Your Message" data-autoresize></textarea>
							<input type="hidden" value="{{ csrf_token }}" id="csrf_token">
							<button class="button ripple-effect" onclick="send_message()">Send</button>
						</div>

					</div>
					<!-- Message Content -->

				</div>
			</div>
			<!-- Messages Container / End -->




			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2019 <strong>Hireo</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->
<!-- Apply for a job popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
	

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab">Add Note</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Do Not Forget 😎</h3>
				</div>

				<!-- Form -->
				<form method="post" id="add-note">

					<select class="selectpicker with-border default margin-bottom-20" data-size="7" title="Priority">
						<option>Low Priority</option>
						<option>Medium Priority</option>
						<option>High Priority</option>
					</select>

					<textarea name="textarea" cols="10" placeholder="Note" class="with-border"></textarea>

				</form>

				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="add-note">Add
					Note <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
	<input type="hidden" id="current_user" value="{{ request.user.id }}">
	<input type="hidden" id="current_user_username" value="{{ request.user.username }}">
</div>
<!-- Apply for a job popup / End -->


<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
	// Snackbar for user status switcher
	$('#snackbar-user-status label').click(function () {
		Snackbar.show({
			text: 'Your status has been changed!',
			pos: 'bottom-center',
			showAction: false,
			actionText: "Dismiss",
			duration: 3000,
			textColor: '#fff',
			backgroundColor: '#383838'
		});
	}); 
</script>
<script>
	// get user info from unorder list loop
	//int message_receiver_id
	var message_receiver_id = 0;
	var message_provider_id = 0; 
	var message_provider_username = $('#current_user_username').val();
	$("#receipent_profile li").on('click', function () {
		var receipent_id = $(this).attr('id');
		var current_user_id = $('#current_user').val();
		message_receiver_id = receipent_id;
		message_provider_id = current_user_id;
		console.log("receipent_id: " + receipent_id + " current_user_id: " + current_user_id);
		var patch = '{% url "MessageLoadView" receiver_id=0 sender_id=1 %}'.replace('0', receipent_id).replace('1', current_user_id);
		$.ajax({
			url: patch,
			type: 'GET',
			success: function (data, receipent_id, current_user_id) {
				// console.log("Success Response Data",data);
				message_bar(data, receipent_id, current_user_id);
				render_message(data);
			},
			error: function (data, receipent_id, current_user_id) {
				console.log("Error Response Data",data);
			}
		});

	});
	// render_message function

	// <div class="message-content-inner">
	// <div class="message-bubble me">
	// 		<div class="message-bubble-inner">
	// 			<div class="message-avatar"><img src="images/user-avatar-small-01.jpg" alt="" /></div>
	// 			<div class="message-text"><p>Thanks for choosing my offer. I will start working on your project tomorrow.</p></div>
	// 		</div>
	// 		<div class="clearfix"></div>
	// 	</div>
	// </div>
	
	function send_message() {
		var new_message = $('#new_message').val();
		var csrf = $('#csrf_token').val();
		// message_receiver_id message_provider_id
		// make empty new_message
		
		var data = {
			'receiver': message_receiver_id,
			'sender': message_provider_id,
			'message': new_message
		};
		$('#new_message').val('');
		console.log("data: ", data);
		patch = '{% url "MessageLoadView" receiver_id=0 sender_id=1 %}'.replace('0', message_receiver_id).replace('1', message_provider_id);	
		$.ajax({
			url: patch,
			type: 'POST',
			data: data,
			headers: {
				'X-CSRFToken': csrf
			},
			success: function (data) {
				console.log("Success Response Data", data);
				render_message(data, message_receiver_id, message_provider_id);
			},
			error: function (data) {
				console.log("Error Response Data", data);
			}
		});
	}


	function render_message(data, receipent_id, current_user_id) {
		// jQuery.noConflict();
		try {
			var element = '';
			var i = 0;
			var image = '';
			var message = '';
			console.log("Inside try block");
			//get html code of #message_box $(this).
			var message_box = $('#message_box').html();
			var data_length = data.data.length;
			console.log("data", data);

			for(i=0;i<data_length;i++){
				console.log("Inside for loop");
				if(data.data[i].sender == message_provider_username){
					console.log("Inside if loop");
					element += '<div class="message-content-inner" id="message_box">';
					element += '<div class="message-bubble me">';
					element += '<div class="message-bubble-inner">';
					element += '<div class="message-avatar"><img src="'+ data.sender.image +'" alt="" /></div>';
					element += '<div class="message-text"><p>'+data.data[i].message+'</p></div>';
					element += '</div>';
					element += '<div class="clearfix"></div>';
					element += '</div>';
					element += '</div>';
				}else{
					console.log("Inside else loop");
					element += '<div class="message-content-inner" id="message_box">';
					element += '<div class="message-bubble">';
					element += '<div class="message-bubble-inner">';
					element += '<div class="message-avatar"><img src="'+ data.receiver.image +'" alt="" /></div>';
					element += '<div class="message-text"><p>'+data.data[i].message+'</p></div>';
					element += '</div>';
					element += '<div class="clearfix"></div>';
					element += '</div>';
					element += '</div>';
				}
			}
			$('#message_box').html(element);
			console.log("element: ", element);

		} catch (e) {
			console.log(e);
		}
		console.log("message_box: ", message_box);
		}
		function message_bar(data, receipent_id, current_user_id){
			var message_bar = $('#message_name_box').html();
			element_bar = '';
			patch = '{% url "ChatDeleteView" receiver_id=0 sender_id=1 %}'.replace('0', message_receiver_id).replace('1', message_provider_id);
			element_bar += '<h4>'+data.receiver.username+'</h4>';
			element_bar += '<a href="'+ patch +'" class="message-action"><i class="icon-feather-trash-2"></i> Delete Conversation</a>';
			$('#message_name_box').html(element_bar);
		}
</script>
{% endblock content %}
<!-- Time Sign -->
<!-- <div class="message-time-sign">
								<span>28 June, 2019</span>
							</div> -->

<!-- <div class="message-bubble me">
	<div class="message-bubble-inner">
		<div class="message-avatar"><img src="images/user-avatar-small-01.jpg" alt="" />
		</div>
		<div class="message-text">
			<p>Thanks for choosing my offer. I will start working on your project tomorrow.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="message-bubble">
	<div class="message-bubble-inner">
		<div class="message-avatar"><img src="images/user-avatar-small-02.jpg" alt="" />
		</div>
		<div class="message-text">
			<p>Great. If you need any further clarification let me know. 👍</p>
		</div>
	</div>
	<div class="clearfix"></div>
</div> -->