{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section id="dashboard-map">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="overview">
						<div class="stat-icon icon-color-one">
							<i class="fas fa-chart-pie"></i>
						</div>
						<div class="stat-text">
							<p>Total Earning</p>
							<span>$10955</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="overview">
						<div class="stat-icon icon-color-two">
							<i class="fas fa-chart-line"></i>
						</div>
						<div class="stat-text">
							<p>Project Completed</p>
							<span>29</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="overview">
						<div class="stat-icon icon-color-three">
							<i class="fas fa-chart-bar"></i>
						</div>
						<div class="stat-text">
							<p>Pending</p>
							<span>06</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="overview">
						<div class="stat-icon icon-color-four">
							<i class="fas fa-chart-area"></i>
						</div>
						<div class="stat-text">
							<p>Bid Remaining</p>
							<span>+89</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="chart">
						<div class="chart-info">
							<h4 class="title">Earnings</h4>
							<ul class="nav-tabs chart-nav" id="myTab" role="tablist">
								<li>
									<a class="nav-item active" id="nav-Day-tab" data-toggle="tab" href="#nav-Day" role="tab" aria-controls="nav-Day" aria-selected="true">Day</a>
								</li>
								<li>
									<a class="nav-item" id="nav-Week-tab" data-toggle="tab" href="#nav-Week" role="tab" aria-controls="nav-Week" aria-selected="true">Week</a>
								</li>
								<li>
									<a class="nav-item" id="nav-Month-tab" data-toggle="tab" href="#nav-Month" role="tab" aria-controls="nav-Month" aria-selected="true">Month</a>
								</li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="nav-Day" role="tabpanel" aria-labelledby="nav-Day-tab">
                              <canvas id="day"></canvas>
                           </div>
							<div class="tab-pane fade" id="nav-Week" role="tabpanel" aria-labelledby="nav-Week-tab">
                              <canvas id="week"></canvas>
                           </div>
							<div class="tab-pane fade" id="nav-Month" role="tabpanel" aria-labelledby="nav-Month-tab">
                              <canvas id="month"></canvas>
                           </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="user-transections">
						<div class="transection-header">
							<div class="title-and-meta">
								<h5 class="title">User Transection</h5>
								<ul class="meta">
									<li class="active">
										<i class="fas fa-sync-alt"></i>
									</li>
									<li>
										<i class="fas fa-cloud-download-alt"></i>
									</li>
									<li>
										<i class="fas fa-wrench"></i>
									</li>
								</ul>
							</div>
							<div class="search-area">
								<input type="text" placeholder="Search User Transections">
							</div>
						</div>
						<div class="transection-body">
							<table class="table table-responsive">
								<thead>
									<tr>
										<th>User</th>
										<th>Type</th>
										<th>Date</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="user-image">
												<img src="{% static '' %}img/user/user1.jpg" alt="">
											</div>
											<div class="details">
												<h6 class="name">Ryan Flores</h6>
												<span class="mail">ceo@hudai.com</span>
											</div>
										</td>
										<td>
											<span class="success"></span>
											<div class="trans-meta">
												<p class="type">Purchased success</p>
												<span class="trans-id">TRANSID: 12140003</span>
											</div>
										</td>
										<td>
											<p class="trans-date">May 25, 2018 8:34am</p>
										</td>
									</tr>
									<tr>
										<td>
											<div class="user-image">
												<img src="{% static '' %}img/user/user2.jpg" alt="">
											</div>
											<div class="details">
												<h6 class="name">Jimmy Jhon</h6>
												<span class="mail">jhon@gmail.com</span>
											</div>
										</td>
										<td>
											<span class="pending"></span>
											<div class="trans-meta">
												<p class="type">Purchased Pending</p>
											</div>
										</td>
										<td>
											<p class="trans-date">Apr 28, 2018 11:34am</p>
										</td>
									</tr>
									<tr>
										<td>
											<div class="user-image">
												<img src="{% static '' %}img/user/user3.jpg" alt="">
											</div>
											<div class="details">
												<h6 class="name">Domnic Bro</h6>
												<span class="mail">seo@yeshope.com</span>
											</div>
										</td>
										<td>
											<span class="success"></span>
											<div class="trans-meta">
												<p class="type">Purchased success</p>
												<span class="trans-id">TRANSID: 12140003</span>
											</div>
										</td>
										<td>
											<p class="trans-date">Feb 18, 2018 6:54am</p>
										</td>
									</tr>
									<tr>
										<td>
											<div class="user-image">
												<img src="{% static '' %}img/user/user4.jpg" alt="">
											</div>
											<div class="details">
												<h6 class="name">John Smith</h6>
												<span class="mail">help@support.com</span>
											</div>
										</td>
										<td>
											<span class="success"></span>
											<div class="trans-meta">
												<p class="type">Purchased success</p>
												<span class="trans-id">TRANSID: 12140003</span>
											</div>
										</td>
										<td>
											<p class="trans-date">Feb 17, 2018 8:13am</p>
										</td>
									</tr>
									<tr>
										<td>
											<div class="user-image">
												<img src="{% static '' %}img/user/user5.jpg" alt="">
											</div>
											<div class="details">
												<h6 class="name">John Doe</h6>
												<span class="mail">ceo@huday.com</span>
											</div>
										</td>
										<td>
											<span class="cancle"></span>
											<div class="trans-meta">
												<p class="type">Cancelled</p>
											</div>
										</td>
										<td>
											<p class="trans-date">Jan 14, 2018 3:34am</p>
										</td>
									</tr>
									<tr>
										<td>
											<div class="user-image">
												<img src="{% static '' %}img/user/user6.jpg" alt="">
											</div>
											<div class="details">
												<h6 class="name">Rafsan Jany</h6>
												<span class="mail">cto@theme.com</span>
											</div>
										</td>
										<td>
											<span class="success"></span>
											<div class="trans-meta">
												<p class="type">Purchased success</p>
												<span class="trans-id">TRANSID: 12140003</span>
											</div>
										</td>
										<td>
											<p class="trans-date">Jan 01, 2018 10:27pm</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="user-transections product-transection">
						<div class="transection-header">
							<div class="title-and-meta">
								<h5 class="title">Products</h5>
								<ul class="meta">
									<li class="active">
										<i class="fas fa-sync-alt"></i>
									</li>
									<li>
										<i class="fas fa-cloud-download-alt"></i>
									</li>
									<li>
										<i class="fas fa-wrench"></i>
									</li>
								</ul>
							</div>
							<div class="search-area">
								<input type="text" placeholder="Search User Transections">
							</div>
						</div>
						<div class="transection-body products">
							<table class="table table-responsive">
								<thead>
									<tr>
										<th>Product</th>
										<th>States</th>
										<th>Date</th>
										<th>Price</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<p>iPhoneX</p>
										</td>
										<td>
											<div class="complete">
												<p>Complete</p>
											</div>
										</td>
										<td>
											<div class="time">
												<p>Today</p>
											</div>
										</td>
										<td>
											<div class="price">
												<p>$1060.00</p>
											</div>
										</td>
										<td>
											<a href="#" class="edit">
												<i class="fas fa-pencil-alt"></i>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<p>Samsung S9</p>
										</td>
										<td>
											<div class="pendings">
												<p>Pending...</p>
											</div>
										</td>
										<td>
											<div class="time">
												<p>Today</p>
											</div>
										</td>
										<td>
											<div class="price">
												<p>$540.00</p>
											</div>
										</td>
										<td>
											<a href="#" class="edit">
												<i class="fas fa-pencil-alt"></i>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<p>Macbook Pro 15”</p>
										</td>
										<td>
											<div class="pendings">
												<p>Pending...</p>
											</div>
										</td>
										<td>
											<div class="time">
												<p>Today</p>
											</div>
										</td>
										<td>
											<div class="price">
												<p>$1960.00</p>
											</div>
										</td>
										<td>
											<a href="#" class="edit">
												<i class="fas fa-pencil-alt"></i>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<p>iPad Pro 9.7”</p>
										</td>
										<td>
											<div class="complete">
												<p>Complete</p>
											</div>
										</td>
										<td>
											<div class="time">
												<p>Today</p>
											</div>
										</td>
										<td>
											<div class="price">
												<p>$750.00</p>
											</div>
										</td>
										<td>
											<a href="#" class="edit">
												<i class="fas fa-pencil-alt"></i>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<p>iPhoneX</p>
										</td>
										<td>
											<div class="complete">
												<p>Complete</p>
											</div>
										</td>
										<td>
											<div class="time">
												<p>Today</p>
											</div>
										</td>
										<td>
											<div class="price">
												<p>$1060.00</p>
											</div>
										</td>
										<td>
											<a href="#" class="edit">
												<i class="fas fa-pencil-alt"></i>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<p>Nvidia GTX 1080 Ti</p>
										</td>
										<td>
											<div class="pendings">
												<p>Pending...</p>
											</div>
										</td>
										<td>
											<div class="time">
												<p>Today</p>
											</div>
										</td>
										<td>
											<div class="price">
												<p>$5060.00</p>
											</div>
										</td>
										<td>
											<a href="#" class="edit">
												<i class="fas fa-pencil-alt"></i>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<p>iPhoneX</p>
										</td>
										<td>
											<div class="complete">
												<p>Complete</p>
											</div>
										</td>
										<td>
											<div class="time">
												<p>Today</p>
											</div>
										</td>
										<td>
											<div class="price">
												<p>$1060.00</p>
											</div>
										</td>
										<td>
											<a href="#" class="edit">
												<i class="fas fa-pencil-alt"></i>
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<p>Xbox One X</p>
										</td>
										<td>
											<div class="cancel">
												<p>Cancelled</p>
											</div>
										</td>
										<td>
											<div class="time">
												<p>Today</p>
											</div>
										</td>
										<td>
											<div class="price">
												<p>$1060.00</p>
											</div>
										</td>
										<td>
											<a href="#" class="edit">
												<i class="fas fa-pencil-alt"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}