<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Verify</h2>

			</div>
		</div>
	</div>
</div>

<!-- Page Content
================================================== -->
<!-- Container -->
<div class="container">

	<div class="row">
		<div class="col-xl-12">

			<section id="not-found" class="center margin-top-50 margin-bottom-25">
				<h2>Verify <i class="icon-line-awesome-question-circle"></i></h2>
				<p>You are just one step behind. Please verify your email to continue...</p>
				<p>Thank You</p>
			</section>

		</div>
	</div>

</div>
<!-- Container / End -->
<!-- Spacer -->
<div class="margin-top-100"></div>
<!-- Wrapper / End -->

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
	// Snackbar for user status switcher
	$('#snackbar-user-status label').click(function () {
		Snackbar.show({
			text: 'Your status has been changed!',
			pos: 'bottom-center',
			showAction: false,
			actionText: "Dismiss",
			duration: 3000,
			textColor: '#fff',
			backgroundColor: '#383838'
		});
	}); 
</script>
{% endblock content %}