{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section id="feature-job-offline-grid">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="buttons-container">
						<ul class="list-grid-btn">
							<li>View : </li>
							<li>
								<form action="https://htmlbro.com/html/chakri/feature-job-offline-list.html">
									<button class="view-btn list-view" id="list"><i class="fas fa-bars"></i></button>
								</form>
							</li>
							<li>
								<button class="view-btn active grid-view" id="grid"><i class="fas fa-th-large"></i></button>
							</li>
						</ul>
						<ul class="sort-options">
							<li>Sort By :</li>
							<li>
								<select name="sort-job" id="sort-lists">
									<option value="Newest">Newest</option>
									<option value="Oldest">Oldest</option>
								</select>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<article class="feature-full__job-posts grid-view-items">
						<div class="company-logo">
							<a href="#"><img src="{% static '' %}img/company-logo/company-logo1.png" alt=""></a>
						</div>
						<div class="job-description">
							<h5 class="job-title"><a href="#">Travel Agency Responsive Minimal Website Design with Mobile App </a></h5>
							<span class="location"><a href="#"><i class="fas fa-map-marker-alt"></i> New York</a></span>
							<span class="job-category cat-color-one"><a href="#">Web Design</a></span>
							<span class="job-duration"><i class="fas fa-briefcase"></i> Full Time</span>
						</div>
						<div class="budget">
							<ul>
								<li class="duration"><p>Yearly</p></li>
								<li class="amount"><p>$3500</p></li>
							</ul>
						</div>
						<div class="apply">
							<a href="#" class="apply-btn">Apply</a>
						</div>
					</article>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<article class="feature-full__job-posts grid-view-items">
						<div class="company-logo">
							<a href="#"><img src="{% static '' %}img/company-logo/company-logo2.png" alt=""></a>
						</div>
						<div class="job-description">
							<h5 class="job-title"><a href="#">A complete 20 sec Short Film 3D Animation </a></h5>
							<span class="location"><a href="#"><i class="fas fa-map-marker-alt"></i> Tokyo</a></span>
							<span class="job-category cat-color-two"><a href="#">3D Animation</a></span>
							<span class="job-duration"><i class="fas fa-briefcase"></i> Full Time</span>
						</div>
						<div class="budget">
							<ul>
								<li class="duration"><p>Yearly</p></li>
								<li class="amount"><p>$1500</p></li>
							</ul>
						</div>
						<div class="apply">
							<a href="#" class="apply-btn">Apply</a>
						</div>
					</article>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<article class="feature-full__job-posts grid-view-items">
						<div class="company-logo">
							<a href="#"><img src="{% static '' %}img/company-logo/company-logo3.png" alt=""></a>
						</div>
						<div class="job-description">
							<h5 class="job-title"><a href="#">Travel Agency Responsive Minimal Website Design</a></h5>
							<span class="location"><a href="#"><i class="fas fa-map-marker-alt"></i> Dhabi</a></span>
							<span class="job-category cat-color-three"><a href="#">Web Design</a></span>
							<span class="job-duration"><i class="fas fa-briefcase"></i> Full Time</span>
						</div>
						<div class="budget">
							<ul>
								<li class="duration"><p>Yearly</p></li>
								<li class="amount"><p>$2500</p></li>
							</ul>
						</div>
						<div class="apply">
							<a href="#" class="apply-btn">Apply</a>
						</div>
					</article>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<article class="feature-full__job-posts grid-view-items">
						<div class="company-logo">
							<a href="#"><img src="{% static '' %}img/company-logo/company-logo4.png" alt=""></a>
						</div>
						<div class="job-description">
							<h5 class="job-title"><a href="#">Crowdfunding Mobile App  Design from Scratch</a></h5>
							<span class="location"><a href="#"><i class="fas fa-map-marker-alt"></i> Panchagarh</a></span>
							<span class="job-category cat-color-four"><a href="#">UI/UX</a></span>
							<span class="job-duration"><i class="fas fa-briefcase"></i> Full Time</span>
						</div>
						<div class="budget">
							<ul>
								<li class="duration"><p>Yearly</p></li>
								<li class="amount"><p>$3500</p></li>
							</ul>
						</div>
						<div class="apply">
							<a href="#" class="apply-btn">Apply</a>
						</div>
					</article>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<article class="feature-full__job-posts grid-view-items">
						<div class="company-logo">
							<a href="#"><img src="{% static '' %}img/company-logo/company-logo5.png" alt=""></a>
						</div>
						<div class="job-description">
							<h5 class="job-title"><a href="#">Market Research, and Digital Marketing</a></h5>
							<span class="location"><a href="#"><i class="fas fa-map-marker-alt"></i> Torento</a></span>
							<span class="job-category cat-color-five"><a href="#">Marketing</a></span>
							<span class="job-duration"><i class="fas fa-briefcase"></i> Full Time</span>
						</div>
						<div class="budget">
							<ul>
								<li class="duration"><p>Yearly</p></li>
								<li class="amount"><p>$25500</p></li>
							</ul>
						</div>
						<div class="apply">
							<a href="#" class="apply-btn">Apply</a>
						</div>
					</article>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<article class="feature-full__job-posts grid-view-items">
						<div class="company-logo">
							<a href="#"><img src="{% static '' %}img/company-logo/company-logo1.png" alt=""></a>
						</div>
						<div class="job-description">
							<h5 class="job-title"><a href="#">Travel Agency Responsive Minimal Web</a></h5>
							<span class="location"><a href="#"><i class="fas fa-map-marker-alt"></i> New York</a></span>
							<span class="job-category cat-color-one"><a href="#">Web Design</a></span>
							<span class="job-duration"><i class="fas fa-briefcase"></i> Full Time</span>
						</div>
						<div class="budget">
							<ul>
								<li class="duration"><p>Yearly</p></li>
								<li class="amount"><p>$15500</p></li>
							</ul>
						</div>
						<div class="apply">
							<a href="#" class="apply-btn">Apply</a>
						</div>
					</article>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<article class="feature-full__job-posts grid-view-items">
						<div class="company-logo">
							<a href="#"><img src="{% static '' %}img/company-logo/company-logo2.png" alt=""></a>
						</div>
						<div class="job-description">
							<h5 class="job-title"><a href="#">A complete 20 sec Short Film now </a></h5>
							<span class="location"><a href="#"><i class="fas fa-map-marker-alt"></i> Tokyo</a></span>
							<span class="job-category cat-color-two"><a href="#">3D Animation</a></span>
							<span class="job-duration"><i class="fas fa-briefcase"></i> Full Time</span>
						</div>
						<div class="budget">
							<ul>
								<li class="duration"><p>Yearly</p></li>
								<li class="amount"><p>$16500</p></li>
							</ul>
						</div>
						<div class="apply">
							<a href="#" class="apply-btn">Apply</a>
						</div>
					</article>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<article class="feature-full__job-posts grid-view-items">
						<div class="company-logo">
							<a href="#"><img src="{% static '' %}img/company-logo/company-logo3.png" alt=""></a>
						</div>
						<div class="job-description">
							<h5 class="job-title"><a href="#">Travel Agency Responsive Minimal Website Design</a></h5>
							<span class="location"><a href="#"><i class="fas fa-map-marker-alt"></i> Dubai</a></span>
							<span class="job-category cat-color-three"><a href="#">Web Design</a></span>
							<span class="job-duration"><i class="fas fa-briefcase"></i> Full Time</span>
						</div>
						<div class="budget">
							<ul>
								<li class="duration"><p>Yearly</p></li>
								<li class="amount"><p>$29500</p></li>
							</ul>
						</div>
						<div class="apply">
							<a href="#" class="apply-btn">Apply</a>
						</div>
					</article>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<article class="feature-full__job-posts grid-view-items">
						<div class="company-logo">
							<a href="#"><img src="{% static '' %}img/company-logo/company-logo4.png" alt=""></a>
						</div>
						<div class="job-description">
							<h5 class="job-title"><a href="#">Crowdfunding Mobile App  Design from Scratch</a></h5>
							<span class="location"><a href="#"><i class="fas fa-map-marker-alt"></i> Panchagarh</a></span>
							<span class="job-category cat-color-four"><a href="#">UI/UX</a></span>
							<span class="job-duration"><i class="fas fa-briefcase"></i> Full Time</span>
						</div>
						<div class="budget">
							<ul>
								<li class="duration"><p>Yearly</p></li>
								<li class="amount"><p>$30500</p></li>
							</ul>
						</div>
						<div class="apply">
							<a href="#" class="apply-btn">Apply</a>
						</div>
					</article>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="pagination-area">
						<ul>
							<li>
								<a href="#"><i class="fas fa-chevron-left"></i></a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#"><i class="fas fa-chevron-right"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}