{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section id="freelancer-portfolio" style="background: url(img/freelancer/freelancer-profile-bg.jpg);">
        <div class="container">
            <div class="freelancer-portfolio">
               <div class="row">
                  	<div class="col-sm-12 col-md-5 col-lg-4">
	                    <div class="freelancer-profile-sidebar">
	                        <div class="profile-image">
	                           <img src="{% static '' %}img/freelancer/Profile-Image1.jpg" alt="">
	                        </div>
	                        <div class="profile-info">
	                           <div class="hourly-rate">
	                              <h5>$ 20 USD/hr</h5>
	                              <a href="#" class="button-ymp form-control" data-toggle="modal" data-target="#hire-me">Hire Me</a>
	                           </div>
	                           <div class="overviews">
	                              <ul>
	                                 <li><span class="icon color-1"><i class="fas fa-star"></i></span> 25 Reviews<span class="yellow">5.0</span></li>
	                                 <li><span class="icon color-2"><i class="fas fa-check-circle"></i></span> Jobs Completed<span class="blue">100%</span></li>
	                                 <li><span class="icon color-3"><i class="fas fa-dollar-sign"></i></span> On Budget<span class="violet">95%</span></li>
	                                 <li><span class="icon color-4"><i class="fas fa-clock"></i></span> On Time<span class="red">67%</span></li>
	                              </ul>
	                           </div>
	                           <div class="verification">
	                              <h4>Verifications</h4>
	                              <ul>
	                                 <li>Facebook Verified
	                                 	<span><i class="fas fa-minus"></i></span>
	                                 </li>
	                                 <li>Preffered Freelancer
	                                 	<span><i class="fas fa-minus"></i></span>
	                                 </li>
	                                 <li class="active">Payment Verified
	                                 	<span><i class="fas fa-check"></i></span>
	                                 </li>
	                                 <li class="active">Phone Verified
	                                 	<span ><i class="fas fa-check"></i></span>
	                                 </li>
	                                 <li class="active">
	                                 	Email Verified<span><i class="fas fa-check"></i></span>
	                                 </li>
	                              </ul>
	                           </div>
	                           <div class="top-skills">
	                              <h4>My Top Skills</h4>
	                              <ul>
	                                 <li>WordPress<span>3092</span></li>
	                                 <li>JavaScript<span>2095</span></li>
	                                 <li>HTML5<span>1092</span></li>
	                                 <li>CSS3<span>4092</span></li>
	                                 <li>Website Design<span>2082</span></li>
	                                 <li>Graphic Design<span>3092</span></li>
	                                 <li>SEO<span>5092</span></li>
	                              </ul>
	                           </div>
	                           <div class="experience">
	                              <h4>Experience</h4>
	                              <div class="type">
	                                 <h5>Lead Developer</h5>
	                                 <p>ThemeMom International<span>2 Years</span></p>
	                              </div>
	                           </div>
	                           <div class="education">
	                              <h4>Education</h4>
	                              <div class="degrees">
	                                 <div class="mba-degree">
	                                    <h5>MBA</h5>
	                                    <p>North South University</p>
	                                    <span>(2015-17) 2 Years</span>
	                                 </div>
	                                 <div class="cse-degree">
	                                    <h5>CSE</h5>
	                                    <p>Bangladesh University of Engineering</p>
	                                    <span>(2011-15) 4 Years</span>
	                                 </div>
	                              </div>
	                           </div>
	                        </div>
                     	</div>
                  	</div>
                  	<div class="col-sm-12 col-md-7 col-lg-8">
	                    <div class="freelancer-info">
	                        <div class="freelancer-detail">
	                           <h4 class="freelancer-name">Charli Brown <span class="online"><i class="fas fa-circle"></i> Online</span></h4>
	                           <h4 class="profile-title">One Stop Solution for Web & Apps!</h4>
	                           <p>Hello we're Yes Design Company, a brilliant freelancer team from Bangladesh. With 5 years of experience we've participated in a wide range of projects from full website designs to huge eCommerce stores. We've done websites for Restaurant, Portfolio, News Magazine, Photography, Wedding, Corporate identity and  many more.</p>
	                           <h6 class="hire-for">You can get benefited by hiring us for:</h6>
	                           <ul>
	                              <li><i class="far fa-dot-circle"></i> Website Design - (UX, UI)</li>
	                              <li><i class="far fa-dot-circle"></i> Template design in Photoshop</li>
	                              <li><i class="far fa-dot-circle"></i> PSD to HTML5 tamplates</li>
	                              <li><i class="far fa-dot-circle"></i> HTML to Wordpress theme development</li>
	                              <li><i class="far fa-dot-circle"></i> Wordpress Installation and development</li>
	                              <li><i class="far fa-dot-circle"></i> Professional LOGO Design</li>
	                           </ul>
	                           <p>Feel free to contact us with project details and lets make something awesome together!</p>
	                        </div>
	                        <div class="recent-reviews">
	                           <h3>Recent Reviews</h3>
	                        </div>
	                        <div class="review-wrapper">
	                           <a href="#"><img src="{% static '' %}img/company-logo/logo1.jpg" alt=""></a>
	                           <div class="project-review">
		                            <h5>Design project</h5>
		                              	<ul class="client-rating">
			                                <li>05</li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li>$1150.00 USD</li>
		                              	</ul>
		                            <div class="review-detail">
		                                <p>“Thanks. Looking forward to more projects.”</p>
		                                <div class="client">
		                                    <p>- Finmediaco</p>
		                                    <img src="{% static '' %}img/flag/flag3.png" alt="">
		                                    <span>1 hour ago.</span>
		                                </div>
		                                <ul class="category-ch">
		                                    <li><a href="#">Graphic Design,</a></li>
		                                    <li><a href="#">Logo Design,</a></li>
		                                    <li><a href="#">Photoshop,</a></li>
		                                    <li><a href="#">Adobe Photoshop,</a></li>
		                                    <li><a href="#">Bochure Design,</a></li>
		                                    <li><a href="#">Logo</a></li>
		                                </ul>
		                            </div>
	                           </div>
	                        </div>
	                        <div class="review-wrapper">
	                           <a href="#"><img src="{% static '' %}img/company-logo/logo2.jpg" alt=""></a>
	                           <div class="project-review">
		                            <h5>Design project</h5>
		                              	<ul class="client-rating">
			                                <li>05</li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li>$1150.00 USD</li>
		                              	</ul>
		                            <div class="review-detail">
		                                <p>“Thanks. Looking forward to more projects.”</p>
		                                <div class="client">
		                                    <p>- Finmediaco</p>
		                                    <img src="{% static '' %}img/flag/flag4.png" alt="">
		                                    <span>1 hour ago.</span>
		                                </div>
		                                <ul class="category-ch">
		                                    <li><a href="#">Graphic Design,</a></li>
		                                    <li><a href="#">Logo Design,</a></li>
		                                    <li><a href="#">Photoshop,</a></li>
		                                    <li><a href="#">Adobe Photoshop,</a></li>
		                                    <li><a href="#">Bochure Design,</a></li>
		                                    <li><a href="#">Logo</a></li>
		                                </ul>
		                            </div>
	                           </div>
	                        </div>
	                        <div class="review-wrapper">
	                           <a href="#"><img src="{% static '' %}img/company-logo/logo3.jpg" alt=""></a>
	                           <div class="project-review">
		                            <h5>Design project</h5>
		                              	<ul class="client-rating">
			                                <li>05</li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li>$1150.00 USD</li>
		                              	</ul>
		                            <div class="review-detail">
		                                <p>“Thanks. Looking forward to more projects.”</p>
		                                <div class="client">
		                                    <p>- Finmediaco</p>
		                                    <img src="{% static '' %}img/flag/flag5.png" alt="">
		                                    <span>1 hour ago.</span>
		                                </div>
		                                <ul class="category-ch">
		                                    <li><a href="#">Graphic Design,</a></li>
		                                    <li><a href="#">Logo Design,</a></li>
		                                    <li><a href="#">Photoshop,</a></li>
		                                    <li><a href="#">Adobe Photoshop,</a></li>
		                                    <li><a href="#">Bochure Design,</a></li>
		                                    <li><a href="#">Logo</a></li>
		                                </ul>
		                            </div>
	                           </div>
	                        </div>
	                        <div class="review-wrapper">
	                           <a href="#"><img src="{% static '' %}img/company-logo/logo4.jpg" alt=""></a>
	                           <div class="project-review">
		                            <h5>Design project</h5>
		                              	<ul class="client-rating">
			                                <li>05</li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li><i class="fas fa-star"></i></li>
			                                <li>$1150.00 USD</li>
		                              	</ul>
		                            <div class="review-detail">
		                                <p>“Thanks. Looking forward to more projects.”</p>
		                                <div class="client">
		                                    <p>- Finmediaco</p>
		                                    <img src="{% static '' %}img/flag/flag6.png" alt="">
		                                    <span>1 hour ago.</span>
		                                </div>
		                                <ul class="category-ch">
		                                    <li><a href="#">Graphic Design,</a></li>
		                                    <li><a href="#">Logo Design,</a></li>
		                                    <li><a href="#">Photoshop,</a></li>
		                                    <li><a href="#">Adobe Photoshop,</a></li>
		                                    <li><a href="#">Bochure Design,</a></li>
		                                    <li><a href="#">Logo</a></li>
		                                </ul>
		                            </div>
	                           </div>
	                        </div>
	                        <div class="pagination-area">
								<ul>
									<li>
										<a href="#"><i class="fas fa-chevron-left"></i></a>
									</li>
									<li>
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#">4</a>
									</li>
									<li>
										<a href="#">5</a>
									</li>
									<li>
										<a href="#"><i class="fas fa-chevron-right"></i></a>
									</li>
								</ul>
							</div>
	                    </div>
	                </div>
               	</div>
            </div>
        </div>
    </section>
    <section id="portfolio">
         <div class="container">
            <div class="row">
               <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="portfolio-menu">
                     <h3>Portfolio</h3>
                     <div class="button-group portfolio-btn-group">
                        <button class="form-control" data-filter=".cat1">Video</button>
                        <button class="form-control" data-filter=".cat2">Mansory</button>
                        <button class="form-control" data-filter=".cat3">Planding</button>
                        <button class="form-control" data-filter=".cat4">UI/UX</button>
                        <button class="form-control" data-filter=".cat5">Brand</button>
                        <button class="active form-control" data-filter="*">All</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row grid">
               	<div class="col-md-4 grid-item cat2 cat3 cat4">
                  	<div class="single-image">
                    	<a href="#"><img src="{% static '' %}img/portfolio/portfolio1.jpg" alt=""></a>
                  	</div>
               	</div>
               	<div class="col-md-4 grid-item cat2 cat1 cat5">
                  	<div class="single-image">
                    	<a href="#"><img src="{% static '' %}img/portfolio/portfolio2.jpg" alt=""></a>
                  	</div>
               	</div>
               	<div class="col-md-4 grid-item cat3 cat4">
                  	<div class="single-image">
                    	<a href="#"><img src="{% static '' %}img/portfolio/portfolio3.jpg" alt=""></a>
                  	</div>
               	</div>
               	<div class="col-md-4 grid-item cat1 cat3 cat4">
                  	<div class="single-image">
                    	<a href="#"><img src="{% static '' %}img/portfolio/portfolio4.jpg" alt=""></a>
                  	</div>
               	</div>
               	<div class="col-md-4 grid-item cat1 cat2 cat3">
                  	<div class="single-image">
                    	<a href="#"><img src="{% static '' %}img/portfolio/portfolio5.jpg" alt=""></a>
                  	</div>
               	</div>
               	<div class="col-md-4 grid-item cat5 cat4 cat3">
                  	<div class="single-image">
                    	<a href="#"><img src="{% static '' %}img/portfolio/portfolio6.jpg" alt=""></a>
                  	</div>
               	</div>
               	<div class="col-md-4 grid-item cat1 cat5 cat2">
                  	<div class="single-image">
                    	<a href="#"><img src="{% static '' %}img/portfolio/portfolio7.jpg" alt=""></a>
                  	</div>
               	</div>
               	<div class="col-md-4 grid-item cat2 cat4 cat5">
                  	<div class="single-image">
                    	<a href="#"><img src="{% static '' %}img/portfolio/portfolio8.html" alt=""></a>
                  	</div>
               	</div>
               	<div class="col-md-4 grid-item cat5 cat1 cat3">
                  	<div class="single-image">
                    	<a href="#"><img src="{% static '' %}img/portfolio/portfolio9.jpg" alt=""></a>
                  	</div>
               	</div>
            </div>
            <div class="row">
            	<div class="col-lg-12 col-md-12 col-sm-12">
            		<div class="pagination-area">
						<ul>
							<li>
								<a href="#"><i class="fas fa-chevron-left"></i></a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#"><i class="fas fa-chevron-right"></i></a>
							</li>
						</ul>
					</div>
            	</div>
            </div>
        </div>
    </section>
{% endblock content %}