{% extends "base.html" %}
{% load static %}
{% load hitcount_tags %}
{% block content %}
<!-- Content
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Blog</h2>
				<span>Blog Post Page</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Blog</a></li>
						<li>Blog Post</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<!-- Post Content -->
<div class="container">
	<div class="row">
		
		<!-- Inner Content -->
		<div class="col-xl-8 col-lg-8">
			<!-- Blog Post -->
			<div class="blog-post single-post">

				<!-- Blog Post Thumbnail -->
				{% if news.image %}
				<div class="blog-post-thumbnail">
					<div class="blog-post-thumbnail-inner">
						<span class="blog-item-tag">Tips</span>
						<img src="{{ news.image.url }}" alt="">
					</div>
				</div>
				{% endif %}

				<!-- Blog Post Content -->
				<div class="blog-post-content">
					<h3 class="margin-bottom-10">{{ new.title }}</h3>

					<div class="blog-post-info-list margin-bottom-20">
						<a href="#" class="blog-post-info" disabled>{{ news.created_at|date:"D, d F, Y" }}</a>
						<a href="#"  class="blog-post-info">5 Comments</a>
						<a href="#" class="blog-post-info">{% get_hit_count for news %} Views</a>
					</div>
					<blockquote class="margin-top-20 margin-bottom-20">
						{{ news.qoute }}
					</blockquote>

					<p>{{ news.description }}</p>

					<!-- Share Buttons -->
					<div class="share-buttons margin-top-25">
						<div class="share-buttons-trigger"><i class="icon-feather-share-2"></i></div>
						<div class="share-buttons-content">
							<span>Interesting? <strong>Share It!</strong></span>
							<ul class="share-buttons-icons">
								<li><a href="#" data-button-color="#3b5998" title="Share on Facebook" data-tippy-placement="top"><i class="icon-brand-facebook-f"></i></a></li>
								<li><a href="#" data-button-color="#1da1f2" title="Share on Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
								<li><a href="#" data-button-color="#dd4b39" title="Share on Google Plus" data-tippy-placement="top"><i class="icon-brand-google-plus-g"></i></a></li>
								<li><a href="#" data-button-color="#0077b5" title="Share on LinkedIn" data-tippy-placement="top"><i class="icon-brand-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Blog Post Content / End -->
			
			<!-- Blog Nav -->
			<ul id="posts-nav" class="margin-top-0 margin-bottom-40">
				{% if next_news %}
				<li class="next-post">
					<a href="{% url 'BlogSinglePostView' pk=next_news.id %}">
						<span>Next Post</span>
						<strong>{{ next_news.title }}</strong>
					</a>
				</li>
				{% endif %}
				{% if previous_news %}
				<li class="prev-post">
					<a href="{% url 'BlogSinglePostView' pk=previous_news.id %}">
						<span>Previous Post</span>
						<strong>{{ previous_news.title }}</strong>
					</a>
				</li>
				{% endif %}
			</ul>
			
			<!-- Related Posts -->
			<div class="row">
				{% if releted_news %}
				<!-- Headline -->
				<div class="col-xl-12">
					<h3 class="margin-top-40 margin-bottom-35">Related Posts</h3>
				</div>
				{% for i in releted_news %}
				<div class="col-xl-6">
					<a href="{% url 'BlogSinglePostView' pk=i.id %}" class="blog-compact-item-container">
						<div class="blog-compact-item">
							{% if i.image %}
							<img src="{{ i.image.url }}" alt="">
							{% endif %}
							<span class="blog-item-tag">{{ i.topic }}</span>
							<div class="blog-compact-item-content">
								<ul class="blog-post-tags">
									<li>{{ i.created_at|date:"D, d F, Y" }}</li>
								</ul>
								<h3>{{ i.title }}</h3>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
				{% endif %}
			</div>
			<!-- Related Posts / End -->
				

			<!-- Comments -->
			<div class="row">
				<div class="col-xl-12">
					<section class="comments">
						<h3 class="margin-top-45 margin-bottom-0">Comments <span class="comments-amount">(5)</span></h3>

						<ul>
							<li>
								<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
								<div class="comment-content"><div class="arrow-comment"></div>
									<div class="comment-by">Kathy Brown<span class="date">12th, June 2019</span>
										<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
									</div>
									<p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
								</div>

								<ul>
									<li>
										<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
										<div class="comment-content"><div class="arrow-comment"></div>
											<div class="comment-by">Tom Smith<span class="date">12th, June 2019</span>
												<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
											</div>
											<p>Rrhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque.</p>
										</div>
									</li>
									<li>
										<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
										<div class="comment-content"><div class="arrow-comment"></div>
											<div class="comment-by">Kathy Brown<span class="date">12th, June 2019</span>
												<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
											</div>
											<p>Nam posuere tristique sem, eu ultricies tortor.</p>
										</div>

										<ul>
											<li>
												<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
												<div class="comment-content"><div class="arrow-comment"></div>
													<div class="comment-by">John Doe<span class="date">12th, June 2019</span>
														<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
													</div>
													<p>Great template!</p>
												</div>
											</li>
										</ul>

									</li>
								</ul>

							</li>

							<li>
								<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""> </div>
								<div class="comment-content"><div class="arrow-comment"></div>
									<div class="comment-by">John Doe<span class="date">15th, May 2015</span>
										<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
									</div>
									<p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
								</div>

							</li>
						 </ul>

					</section>
				</div>
			</div>
			<!-- Comments / End -->


			<!-- Leava a Comment -->
			<div class="row">
				<div class="col-xl-12">
					
					<h3 class="margin-top-35 margin-bottom-30">Add Comment</h3>

					<!-- Form -->
					<form method="post" id="add-comment">

						<div class="row">
							<div class="col-xl-6">
								<div class="input-with-icon-left no-border">
									<i class="icon-material-outline-account-circle"></i>
									<input type="text" class="input-text" name="commentname" id="namecomment" placeholder="Name" required/>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="input-with-icon-left no-border">
									<i class="icon-material-baseline-mail-outline"></i>
									<input type="text" class="input-text" name="emailaddress" id="emailaddress" placeholder="Email Address" required/>
								</div>
							</div>
						</div>

						<textarea  name="comment-content" cols="30" rows="5" placeholder="Comment"></textarea>
					</form>
					
					<!-- Button -->
					<button class="button button-sliding-icon ripple-effect margin-bottom-40" type="submit" form="add-comment">Add Comment <i class="icon-material-outline-arrow-right-alt"></i></button>
					
				</div>
			</div>
			<!-- Leava a Comment / End -->

		</div>
		<!-- Inner Content / End -->


		<div class="col-xl-4 col-lg-4 content-left-offset">
			<div class="sidebar-container">
				
				<!-- Location -->
				<div class="sidebar-widget margin-bottom-40">
					<div class="input-with-icon">
						<input id="autocomplete-input" type="text" placeholder="Search">
						<i class="icon-material-outline-search"></i>
					</div>
				</div>

				<!-- Widget -->
				<div class="sidebar-widget">

					<h3>Trending Posts</h3>
					<ul class="widget-tabs">
						{% for i in trending_news %}
						{% if i.image %}
						<li>
							<a href="{% url 'BlogSinglePostView' pk=i.id %}" class="widget-content active">
								<img src="{{ i.image.url }}" alt="">
								<div class="widget-text">
									<h5>{{ i.title }}</h5>
									<span>{{ i.created_at|date:"D, d F, Y" }}</span>
								</div>
							</a>
						</li>
						{% else %}
						<li>
							<a href="{% url 'BlogSinglePostView' pk=i.id %}" class="widget-content">
								<div class="widget-text">
									<h5>{{ i.title }}</h5>
									<span>{{ i.created_at|date:"D, d F, Y" }}</span>
								</div>
							</a>
						</li>
						{% endif %}
						{% endfor %}
					</ul>

				</div>
				<!-- Widget / End-->


				<!-- Widget -->
				<div class="sidebar-widget">
					<h3>Social Profiles</h3>
					<div class="freelancer-socials margin-top-25">
						<ul>
							<li><a href="#" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-dribbble"></i></a></li>
							<li><a href="#" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
							<li><a href="#" title="Behance" data-tippy-placement="top"><i class="icon-brand-behance"></i></a></li>
							<li><a href="#" title="GitHub" data-tippy-placement="top"><i class="icon-brand-github"></i></a></li>
						</ul>
					</div>
				</div>

				<!-- Widget -->
				<div class="sidebar-widget">
					<h3>Tags</h3>
					<div class="task-tags">
						<a href="#"><span>employer</span></a>
						<a href="#"><span>recruiting</span></a>
						<a href="#"><span>work</span></a>
						<a href="#"><span>salary</span></a>
						<a href="#"><span>tips</span></a>
						<a href="#"><span>income</span></a>
						<a href="#"><span>application</span></a>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>

<!-- Spacer -->
<div class="padding-top-40"></div>
<!-- Spacer -->

</div>
<!-- Wrapper / End -->

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>
{% endblock content %}