{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section id="project-accept-page">
		<div class="container">
			<div class="project-accept-area">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="bidding-title">
							<h4>Build an eCommerce Website</h4>
						</div>
					</div>
				</div>
				<div class="bidding-header">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="bidding-info">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-7">
									<div class="bid-info">
										<div class="freelancer-bidding">
											<h5>Freelancer Bidding(44)</h5>
											<ul>
												<li>
													<a href="#"><img src="{% static '' %}img/freelancer/freelancer-4.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="{% static '' %}img/freelancer/freelancer-5.jpg" alt=""></a>
												</li>
												<li>
													<a href="#"><img src="{% static '' %}img/freelancer/freelancer-6.jpg" alt=""></a>
												</li>
												<li>
													<a href="#">+ 4 others</a>
												</li>
											</ul>
										</div>
										<div class="avg-bidding">
											<h5>Avg Bid (USD)</h5>
											<h4 class="project-amount">$ 1350</h4>
										</div>
										<div class="project-budget">
											<h5>Project Budget(USD)</h5>
											<h4 class="project-amount">$500 - $1500</h4>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-2"></div>
								<div class="col-sm-12 col-md-12 col-lg-3">
									<div class="get-button bidding">
										<a href="#" class="get-btn">Get Started</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-8 col-lg-8">
						<div class="project-description">
							<h4 class="title">Project Description</h4>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p><br>
							<p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form.</p><br>
							<p>Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p><br>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4">
						<div class="employee-info">
							<h4 class="title">About the employer</h4>
							<div class="feature-image">
								<img src="{% static '' %}img/employer/employer1.jpg" alt="">
								<div class="name-designation">
									<h5 class="name">Rafsan Prodhan</h5>
									<h5 class="designation">Software House </h5>
								</div>
								<span class="online"></span>
							</div>
							<div class="review-details">
								<ul class="review">
									<li class="point">5.0</li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li>(<span class="amount">105</span> Reviews)</li>
								</ul>
							</div>
							<div class="contact-details">
								<ul>
									<li><span class="verified">Verified</span></li>
									<li><a href="#"><i class="fas fa-dollar-sign"></i></a></li>
									<li><a href="#"><i class="fas fa-envelope"></i></a></li>
									<li class="address-book"><a href="#"><i class="fas fa-address-book"></i></a></li>
									<li class="phone"><a href="#"><i class="fas fa-phone"></i></a></li>
								</ul>
							</div>
							<div class="project-id">
								<h6 class="title">Project ID: 15535012</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="skill-requirement">
							<h4 class="title">Skill Required</h4>
							<ul>
								<li><a href="#">Graphic Design,</a></li>
								<li><a href="#">HTML,</a></li>
								<li><a href="#">Website Design,</a></li>
								<li><a href="#">WordPress,</a></li>
								<li><a href="#">My SQL,</a></li>
								<li><a href="#">JAVA,</a></li>
								<li><a href="#">CSS 3,</a></li>
								<li><a href="#">Adobe Photoshop</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="freelancer-awarded-milestones-wrapper">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="freelancers-awared">
							<h4 class="title">Freelancers Awarded</h4>
							<div class="freelancer">
								<div class="about-freelancer">
									<img src="{% static '' %}img/freelancer/freelancer-7.jpg" alt="">
									<div class="portfolio-btn">
										<a href="#" class="button-pt">Portfolio</a>
									</div>
									<div class="verify-btn">
										<p><i class="fas fa-check"></i> Accept</p>
									</div>
								</div>
								<div class="award-info">
									<ul>
										<li><a href="#">Sasha Stephanie</a></li>
										<li><img src="{% static '' %}img/flag/flag-2.jpg" alt=""> 5 months ago</li>
									</ul>
								</div>
								<div class="award-details">
									<p>A proposal has not yet been provided</p>
									<img src="{% static '' %}img/flag.html" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-3 col-lg-3 mobile-float-1">
						<div class="reputation">
							<h4 class="title">Reputation</h4>
							<div class="review-details">
								<ul class="review">
									<li class="point">5.0</li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
									<li><span class="star"><i class="fas fa-star"></i></span></li>
								</ul>
								<div class="review-dt"><span class="amount">25</span> Review</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-3 col-lg-3 mobile-float-2">
						<div class="project-bid">
							<h4 class="title">Bid (USD)</h4>
							<h4>USD 1300</h4>
							<p>In 10 Days</p>
							<a href="#">Change My Bid</a>
							<a href="#">Cancel project</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="milestone-wrapper">
							<div class="milestone">
								<h3>Milestones</h3>
								<a class="float add-milestone" href="#">Request Milestone</a>
							</div>
						</div>
						<div class="db-table table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Amount</th>
										<th>Description</th>
										<th>Status</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>$300.00 USD</td>
										<td>Makeup Design</td>
										<td>In Progress</td>
										<td>
										  	<div class="btn-group">
											  <button class="btn btn-secondary btn-sm" type="button">
											    Ask Release
											  </button>
											  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    <span class="sr-only">Toggle Dropdown</span>
											  </button>
											  <div class="dropdown-menu">
											    <a class="dropdown-item" href="#">Ask Release</a>
											    <a class="dropdown-item" href="#">Cancel</a>
											    <a class="dropdown-item" href="#">Dispute</a>
											  </div>
											</div>
										</td>
									</tr>
									<tr>
										<td>$200.00 USD</td>
										<td>PSD to HTML</td>
										<td>In Progress</td>
										<td>
										  	<div class="btn-group">
											  <button class="btn btn-secondary btn-sm" type="button">
											    Ask Release
											  </button>
											  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    <span class="sr-only">Toggle Dropdown</span>
											  </button>
											  <div class="dropdown-menu">
											    <a class="dropdown-item" href="#">Ask Release</a>
											    <a class="dropdown-item" href="#">Cancel</a>
											    <a class="dropdown-item" href="#">Dispute</a>
											  </div>
											</div>
										</td>
									</tr>
									<tr>
										<td>$200.00 USD</td>
										<td>Responsive</td>
										<td>In Progress</td>
										<td>
										  	<div class="btn-group">
											  <button class="btn btn-secondary btn-sm" type="button">
											   Ask Release
											  </button>
											  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    <span class="sr-only">Toggle Dropdown</span>
											  </button>
											  <div class="dropdown-menu">
											    <a class="dropdown-item" href="#">Ask Release</a>
											    <a class="dropdown-item" href="#">Cancel</a>
											    <a class="dropdown-item" href="#">Dispute</a>
											  </div>
											</div>
										</td>
									</tr>
									<tr>
										<td>$250.00 USD</td>
										<td>Wordpress Conversion</td>
										<td>In Progress</td>
										<td>
										  	<div class="btn-group">
											  <button class="btn btn-secondary btn-sm" type="button">
											    Ask Release
											  </button>
											  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    <span class="sr-only">Toggle Dropdown</span>
											  </button>
											  <div class="dropdown-menu">
											    <a class="dropdown-item" href="#">Ask Release</a>
											    <a class="dropdown-item" href="#">Cancel</a>
											    <a class="dropdown-item" href="#">Dispute</a>
											  </div>
											</div>
										</td>
									</tr>
									<tr>
										<td>$350.00 USD</td>
										<td>Final QA</td>
										<td>In Progress</td>
										<td>
										  	<div class="btn-group">
											  <button class="btn btn-secondary btn-sm" type="button">
											    Ask Release
											  </button>
											  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    <span class="sr-only">Toggle Dropdown</span>
											  </button>
											  <div class="dropdown-menu">
											    <a class="dropdown-item" href="#">Ask Release</a>
											    <a class="dropdown-item" href="#">Cancel</a>
											    <a class="dropdown-item" href="#">Dispute</a>
											  </div>
											</div>
										</td>
									</tr>
									<tr>
										<td>Total: 1300 USD</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}